Repository ddionrails/paneldata_pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pyroma, unittest, pylint, mypy, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black
  args:
  - --line-length
  - '90'
  language: system
  pass_filenames: true

pyroma:
  name: check setup.py
  entry: pyroma .
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: pytest -v
  language: system
  pass_filenames: false

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

mypy:
  name: Check typing
  entry: mypy
  args:
  - --ignore-missing-imports
  - --strict
  - --show-error-codes
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Handle empty key fields
  paneldata_pipeline/check_relations.py
Due: isort, black, unittest, pylint, mypy, bandit

Allow source concepts.csv != dest. concepts.csv
  paneldata_pipeline/__main__.py
  paneldata_pipeline/concepts.py
  tests/test_check_relations.py
  tests/test_concepts.py
  tests/test_data/expected/concepts.csv
  tests/test_main.py
Due: isort, black, unittest, pylint, mypy, bandit

Update dependencies
  Pipfile.lock
Due: none

Refactor typing
  paneldata_pipeline/check_relations.py
Due: isort, black, unittest, pylint, mypy, bandit

Add check for cat question items
  paneldata_pipeline/check_relations.py
  tests/test_check_relations.py
Due: isort, black, unittest, pylint, mypy, bandit

Update tests
  tests/test_check_relations.py
Due: isort, black, unittest, pylint, mypy, bandit

Refactor logging
  paneldata_pipeline/check_relations.py
  tests/test_check_relations.py
Due: isort, black, unittest, pylint, mypy, bandit

Shorten logging output from relation check
  paneldata_pipeline/check_relations.py
  tests/test_check_relations.py
Due: isort, black, unittest, pylint, mypy, bandit

Add metadata check to pipeline functionality
  .gitignore
  Pipfile
  Pipfile.lock
  paneldata_pipeline/check_metadata.py
  paneldata_pipeline/resources/analysis_units.json
  paneldata_pipeline/resources/answers.json
  paneldata_pipeline/resources/attachments.json
  paneldata_pipeline/resources/concepts.json
  paneldata_pipeline/resources/conceptual_datasets.json
  paneldata_pipeline/resources/datasets.json
  paneldata_pipeline/resources/instruments.json
  paneldata_pipeline/resources/logical_variables.json
  paneldata_pipeline/resources/periods.json
  paneldata_pipeline/resources/questions.json
  paneldata_pipeline/resources/topics.json
  paneldata_pipeline/resources/variables.json
  setup.cfg
  setup.py
Due: isort, black, pyroma, unittest, pylint, mypy, bandit

Update requirements
  Pipfile
  Pipfile.lock
  setup.py
Due: isort, black, pyroma, unittest, pylint, mypy, bandit

Add missing rules files
  paneldata_pipeline/resources/publications.json
  paneldata_pipeline/resources/questions_images.json
  paneldata_pipeline/resources/variables_images.json
Due: none

Update lock file
  Pipfile.lock
Due: none

Update Pipfile
  Pipfile
  Pipfile.lock
Due: none

Migrate ci to github
  .github/workflows/lint-and-test.yml
  .travis.yml
Due: none

Add automatic Requirements.txt generation
  .pre-commit-config.yaml
  Pipfile
  Requirements.txt
Due: none

Update requirements in setup.py
  setup.py
Due: isort, black, pyroma, unittest, pylint, mypy, bandit

Fix pipeline isort command
  .github/workflows/lint-and-test.yml
Due: none

Fix copy paste error in setup.py
  setup.py
Due: isort, black, pyroma, unittest, pylint, mypy, bandit

Update pipeline
  .github/workflows/lint-and-test.yml
Due: none

Update isort setup
  .github/workflows/lint-and-test.yml
  setup.cfg
Due: none

Remove formatting checks from pipeline
  .github/workflows/lint-and-test.yml
Due: none

Add MANIFEST.in
  MANIFEST.in
Due: none

Fix MANIFEST.in syntax
  MANIFEST.in
Due: none

Fix setup.py path
  setup.py
Due: isort, black, pyroma, unittest, pylint, mypy, bandit

Update setup.py
  setup.py
Due: isort, black, pyroma, unittest, pylint, mypy, bandit

Fix publications specifications
  paneldata_pipeline/resources/publications.json
Due: none

Remove length constrains in publications
  paneldata_pipeline/resources/publications.json
Due: none

Remove some lint
  paneldata_pipeline/check_relations.py
  paneldata_pipeline/concepts.py
  paneldata_pipeline/merge_instruments.py
  paneldata_pipeline/questions_variables.py
  paneldata_pipeline/topics.py
  tests/conftest.py
  tests/test_check_relations.py
  tests/test_concepts.py
  tests/test_main.py
  tests/test_merge_instruments.py
Due: isort, black, unittest, pylint, mypy, bandit

Fix runtime typing error
  paneldata_pipeline/merge_instruments.py
Due: isort, black, unittest, pylint, mypy, bandit

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Update variables_images resource
  paneldata_pipeline/resources/variables_images.json
Due: none

Add item to questions_variables
  paneldata_pipeline/questions_variables.py
  tests/test_data/expected/questions_variables.csv
Due: isort, black, unittest, pylint, mypy, bandit

Update gitpython
  Pipfile
  Requirements.txt
Due: none

Update publications rules
  paneldata_pipeline/resources/publications.json
Due: none

Fix topic label default
  Pipfile.lock
  Requirements.txt
  paneldata_pipeline/questions_variables.py
  paneldata_pipeline/topics.py
  paneldata_pipeline/transformations.py
Due: isort, black, unittest, pylint, mypy, bandit

Fix empty topic labels
  paneldata_pipeline/topics.py
Due: isort, black, unittest, pylint, mypy, bandit

Fallback from label_de to label to name
  paneldata_pipeline/topics.py
Due: isort, black, unittest, pylint, mypy, bandit

Lock numpy dependency
  Pipfile
  Pipfile.lock
  Requirements.txt
Due: none

Replace pipenv with poetry
  Pipfile.lock
  Requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Fix error from dependency breaking change
  paneldata_pipeline/check_metadata.py
  poetry.lock
  pyproject.toml
Due: isort, black, unittest, pylint, mypy, bandit

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  pyroma: any of: setup.py
  unittest: any of: .*\.py
  pylint: any of: .*\.py
  mypy: any of: .*.py
  bandit: any of: .*\.py
